@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

.main {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.main .title {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 18px;
}

.main .title h1 {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-size: 100px;
  font-style: italic;
  color: white;
  margin: 0px;
  text-align: center;
}

.main .title p {
  color: grey;
  margin: 0px;
  text-align: center;
  margin-top: 10px;
}

.main .plane {
  width: 80%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.main .plane img {
  pointer-events: all;
  position: absolute;
  transition: transform 1s ease 0s;
}

.main .plane img:hover {
  transform: scale(1.5);
  //z-index: 10;
  filter: brightness(1);
}

.main .plane:nth-of-type(1) img {
  //filter: brightness(0.7);
  //outline: solid red 5px;
}

.main .plane:nth-of-type(2) img {
  filter: brightness(0.9);
  //outline: solid orange 5px;
}

.main .plane:nth-of-type(3) img {
  filter: brightness(0.8);
  //outline: solid yellow 5px;
}
