@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

.main {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  perspective: 2px;
  //background-color: aquamarine;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.main .title {
  pointer-events: none;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 18px;
  transform: translateZ(0.5px) scale(0.8);
}

.main .title h1 {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-size: 100px;
  font-style: italic;
  color: white;
  margin: 0px;
  text-align: center;
}

.main .title p {
  color: white;
  margin: 0px;
  text-align: center;
  margin-top: -10px;
}

.main .plane {
  width: 100%;
  height: 6000px;
  position: absolute;
  pointer-events: none;
  //background-color: aqua;
}

.main .plane img {
  margin: 0px;
  padding: 0px;
  pointer-events: all;
  position: absolute;
  transition: transform 1s ease 0s;
}

.main .plane img:hover {
  transform: scale(1.5);
  //z-index: 10;
  filter: brightness(1);
}

//legendary
.main .plane:nth-of-type(1) {
  filter: brightness(0.8);
  //outline: solid red 5px;
  transform: translateZ(-1.7px);
  width: 100%;
  //background-color: aqua;
}

//rare
.main .plane:nth-of-type(2) {
  filter: brightness(1);
  transform: translateZ(-1.2px);
}

.main .plane:nth-of-type(3) {
  filter: brightness(1.2);
  transform: translateZ(0px);
}
